.about{
    // background-image: url('../../../assets/sqr-frame.png');
    // background-size: 100% auto;
    // background-repeat: no-repeat;
    h1{
        font-family: 'Fredericka the great';
        font-size: 65px;
        text-align: center;
        margin-bottom: 7%;
    }
    h2{
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 50px;
        text-align: left;
        color: white;
        span{
            background: linear-gradient(to right, #070473 20%, #12e07a 41%, #22ab00 88%, #045206 100%);
            -webkit-background-clip: text;
            background-size: 200% auto;
            color: transparent;
        }
    }
}